body {
    padding: 50px 0;
    font-family: sans-serif;
    font-weight: 300;
}

h2 {
    font-size: 1.5em;
}

hr {
    margin-bottom: 40px;
}

#charactersList {
    padding: 0;
}

#charactersList li {
    list-style: none;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

form label {
    width: 100%;
    margin-bottom: 20px;
}

form input {
    width: 100%;
}

form input[type='submit'] {
    width: 100%;
    background-color: #000;
    color: white;
}